core.safecrlf=true

# Text Files
*.cs      text diff=csharp
*.xaml    text
*.csproj  text
*.sln     text
*.tt      text
*.ps1     text
*.cmd     text
*.msbuild text
*.md      text

# Binary Files
*.png     binary
*.jpeg    binary
*.jpg     binary